*.swp
*~
.*~
.ipynb_checkpoints
audio/simple-sr/saved
audio/simple-sr/simple-sr.h5
audio/simple-sr/simple-sr.tflite
audio/data/mini_speech_commands*
audio/data/test/h_yes_spec.npy
audio/data/test/test*.wav
